// COLOR
$primary-color: #E7E1DC;
$primary-color-dark: #D1CBC7;
$white: #FFFFFF;
$second-color: #00415F;
$grey: #4A4A4A;


// FONT 
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;




p,h1 {
    font-family: 'Poppins', sans-serif;
}

h1 {
  font: $semi-bold;
  color: $grey;
  font-size: 28px;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
    font-family: 'Poppins', sans-serif;
    
    
  }

body {

    background-color: $white;
    position: relative;

    &::-webkit-scrollbar {
        width: 10px;
      }
    
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0 rgba($grey, 0.3);
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: $second-color;
        color: $white;
      }
}

header {
  width: 100%;
  border-bottom: 0.5px solid $second-color;
  font-family: 'Poppins', sans-serif;
  height: 60px;
  background-color: $second-color;
  z-index: 1000;
  padding: 10px 0;
  left: 0;
  top: 0;
  
  
}


.content {
  max-width: 1146px;
  margin: 0 auto;
  background-color: $primary-color;
}

.text {
  background-color: $primary-color;
}

#jaja {
    margin-top: 1500px;
}


.logo{
  float: left;
}

.nav{
  float: right;
}



.nav-list {
    list-style-type: none;
    display: flex;
    :hover{
        background-color: $primary-color-dark;
        transition-duration: 1s;
        cursor: pointer;
        

    }
  }

  .nav-item {
    padding: 10px 35px;
    background-color: $second-color;
    border-right: 1px solid $second-color;
    display: block;
    :hover{
        background-color: $primary-color-dark;
        transition-duration: 1s;
        
        
        

    }
    
  }

  .nav-link {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    
  }

  .hidden {
    display: none;
   
  }
  
  #pionowaLista {
    text-decoration: none;
    list-style-type: none;
    :hover{
      background-color: $primary-color-dark;
      transition-duration: 1s;
     
    }
  }
  .pionowaListaItem{
    padding: 10px 35px;
    background-color: $primary-color;
   
  }
  
  .pionowaListaItem-link{
    text-decoration: none;
  }
  
  

  .logo {
    float: left; /* Przesuwa logo na lewo */
}

  .nav {
    float: right; /* Przesuwa nawigację na prawo */
}


#footer{
  margin-top: 100px;
  padding: 50px;
  text-align: center;
  
  
}

.footer-item {
  margin-left: 50px;
  
}

#lokalization{
  text-align: center;
  margin-top: 900px;
}

#strzalka {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

