.section {
    display: grid;
    margin-left: 0px;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.fullscreen-png {
    max-height: 100vh;
    width: 100%;
    background-size: cover;
}

.content {
    flex-wrap: wrap;
    margin-bottom: 50px;
}

/* Strona główna */

.fullscreen-div {
    margin-top: 60px;
    margin-bottom: 100px;
    display: grid;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.about-village,
.about-history {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    justify-content: center;
    align-items: center;
}

.about-history {
    grid-template-columns: 0.6fr 1fr;
}


.link-href {
    color: black;
    font-style: italic;
    font-weight: 600;
}



.right-side-picture img,
.left-side-picture img {
    min-width: 350px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}


.right-side-picture {
    align-items: center;
    justify-content: center;
    margin-left: 50px;

}

.left-side-picture {

    align-items: center;
    justify-content: center;
    margin-right: 50px;

}

.history-h1 {
    font-weight: 600;
    font-size: 32px;
    text-align: right;
}

@media only screen and (max-width:1100px) {


    .about-village,
    .about-history {
        grid-template-columns: 1fr;
    }

    h1,
    .history-h1 {
        text-align: center;
    }

    .right-side-picture img,
    .left-side-picture img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;

    }

    .left-side-picture img {
        margin-bottom: 40px;
    }

    .right-side-picture img {
        margin-top: 40px;
    }

    .left-side-picture,
    .right-side-picture {
        margin: 0;
    }

}



/* Podstrony */



#full-jpg-picture {
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: grid;
    max-height: 100vh;


}

#full-jpg-picture img {
    width: 100%;
    max-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: soft-light;
}

.section-subpage {
    margin-top: 50px;
    display: grid;
    margin-left: 0px;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;





}


.content-subpage {

    flex-wrap: wrap;
    margin-bottom: 50px;



}







/* responsive content-subpage */



@media only screen and (max-width:680px) {

    .title-content-subpage {
        font-size: 24px;
    }

    .dark-destiption {
        font-size: 16px;
    }


}



@media only screen and (max-width:500px) {

    #full-jpg-picture {
        min-height: 40vh;


    }

    #full-jpg-picture img {
        min-height: 40vh;

    }




}





/* image slider css */

.mySlides {
    display: none;
    position: relative;


}

.mySlides::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    height: 15%;
    background: linear-gradient(180deg, rgba(121, 119, 119, 0), gray);
}



.mySlides img {
    vertical-align: middle;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 20px;
    position: relative;


}


.slideshow-container {
    margin-top: 50px;
    max-width: 100%;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;


}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);

}

.text {
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 8px;
    color: white;
    font-weight: 400;
    z-index: 2;

}

.numbertext {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    font-weight: 400;
    top: 0;
    z-index: 2;
}

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #00415F;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1;
    }
}

/* responsive image slider*/

@media only screen and (max-width:680px) {

    .prev,
    .next,
    .text,
    .numbertext {
        font-size: 16px;
    }

    .dot {
        height: 16px;
        width: 16px;
    }
}