.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.right-side-picture,
.right-side-form {
    animation: rightAnimation linear both;
    animation-timeline: view(block);
    animation-range: cover 10% contain 40%;
    animation-timing-function: ease-in-out;
}

.left-side-picture,
.left-side-form {
    animation: leftAnimation linear both;
    animation-timeline: view(block);
    animation-range: cover 10% contain 40%;
    animation-timing-function: ease-in-out;
}

@keyframes rightAnimation {
    from {
        opacity: 0;
        transform: translateX(30%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);


    }
}

@keyframes leftAnimation {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);


    }
}




.wrapper:nth-child(2) {
    transition-delay: 100ms;
}

.wrapper:nth-child(3) {
    transition-delay: 200ms;
}

.wrapper:nth-child(4) {
    transition-delay: 300ms;
}

.wrapper:nth-child(5) {
    transition-delay: 400ms;
}





.location {


    view-timeline-name: --revealing-image;
    view-timeline-axis: block;


    animation: linear reveal both;
    animation-timeline: --revealing-image;


    animation-range: entry 25% cover 40%;
}




@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}


@keyframes fadePng {
    from {
        background-position: 100% 0;

    }

    to {
        background-position: 50% 100%;
        opacity: 0;

    }
}



.fullscreen-png {

    animation: fadePng linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
}

p,
.title-content-subpage,
h1 {
    animation: fade linear;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;


}



@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes grayJpg {
    0% {
        background-position: 100% 0;
        transform: scale(1);
        filter: grayscale(0%);
    }

    70% {
        background-position: 50% 100%;
        transform: scale(0.9);
        filter: grayscale(0%);
    }

    100% {
        background-position: 0 0;
        transform: scale(1);
        filter: grayscale(100%);
    }
}



.full-jpg {

    animation: grayJpg linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 60vh;
}

@media only screen and (max-width:900px) {

    .full-jpg {

        animation: grayJpg linear forwards;
        animation-timeline: scroll();
        animation-range: 0vh 50vh;
    }
}

@media only screen and (max-width:800px) {

    .location {
        animation: none;
    }

    .hidden {
        opacity: none;
        filter: none;
        transform: none;
        transition: none;
    }

    .show {
        opacity: none;
        filter: none;
        transform: none;
    }

    .wrapper:nth-child(2) {
        transition-delay: none;
    }

    .wrapper:nth-child(3) {
        transition-delay: none;
    }

    .wrapper:nth-child(4) {
        transition-delay: none;
    }

    .wrapper:nth-child(5) {
        transition-delay: none;
    }

    .left-side-picture,
    .left-side-form,
    .right-side-picture,
    .right-side-form,
    .fullscreen-png,
    .full-jpg {
        animation: none;
    }

    .left-side-form {
        margin-bottom: 0px;
    }

    p,
    .title-content-subpage,
    h1 {
        animation: none;
    }

}